<div class="row">
  <div class="col_center field">
    <h3>change background image</h3>
    <div>
      now: <%= BackImage.url %>
      <%= form_for BackImage.new, :html => { :multipart => true } do |f| %>
        <div>
          <%= f.file_field :image %>
        </div>
        <div class="action"><%= submit_tag "upload image" %></div>
      <% end %>
    </div>
  </div>
</div>
