div [ class="row" ]
  div [ class="col_center field" ]
    h3 change background image
    div
      | now: 
      = BackImage.url
      = form_for BackImage.new, :html => { :multipart => true } do |f|
        div
          = f.file_field :image
        div [ class="action" ]
          = submit_tag "upload image"
