<div class="row">
<div class="col_center field">
  <h3>日記一覧</h3>
  <div class="article_archive">
  <%
    year = 0
    Article.find_archives.each do |a|
      if year != a[:year]
        year = a[:year]
  %>
    <div class="archive_year"><%= year %>年</div>
    <% end -%>
  <%= link_to "#{a[:month]}月", date_articles_path(:year => a[:year], :month => a[:month]) %>
  <% end %>
  </div>
</div>
</div>
