<!-- google_ad_section_start -->
<%= render @article -%>
<!-- google_ad_section_end -->
<aside><%= render "/shared/google_ad" %></aside>
<nav>
<% if @article.prev_article %>
  <span class="prev_article"><%= link_to @article.prev_article.title, article_path(@article.prev_article), rel: "prev bookmark" %></span>
<% end %>
<% if @article.next_article %>
  <span class="next_article"><%= link_to @article.next_article.title, article_path(@article.next_article), rel: "next bookmark" %></span>
<% end %>
</nav>
