<div class="row">
<div class="col_center field">
  <h3>Manage</h3>  
  <p><%= button_to "LogOut", session_path, :method => :delete %></p>
  <p><%= link_to "create article", new_article_path %></p>
</div>
</div>

