div [ class="row" ]
  div [ class="col_center field" ]
    h3 Manage
    p = button_to "LogOut", session_path, method: :delete
    p = link_to "create article", new_article_path
    p = link_to "create keyword", new_keyword_path

