// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.about {
  h1 {
    color: #444;
    margin: 50px -30px 20px -27px;
    padding: 15px 30px;
    border-left: 7px solid #eee;
    font: {
      size: 20px;
      weight: bold;
    }
  }

  h2 {
    color: #444;
    margin: 50px -30px 20px -27px;
    padding: 15px 30px;
    border-left: 3px solid #eee;
    font: {
      size: 20px;
      weight: 400;
    }
  }

  img {
    padding: 7px 10px 10px 0;
    float:left;
  }

  .clear {
    clear: both;
  }
}

a.twitter {
  color: #000;
  border-radius: 5px;
  padding: 3px 7px;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  font: {
    weight: bold;
    size: 12px;
  }

  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
  }
}
