// Place all the styles related to the Manages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field {
  background-color: #ffffff;
}

.field input {
  width: 40em;
}

.field textarea {
  width: 40em;
  height: 20em;
  margin-bottom: 1em;
}

.field .actions {
  margin: 1em 0 2em;
}
