div [ class="row" ]
  aside [ class="col_1" ]
    = render "google_ad_article_show_square"
  <article class="col_2" itempscope itemtype="http://schema.org/Article">
    header
      h3
        = @keyword.name
    div [ itemprop="description" ]
      == TextDecorator.replace(@keyword.body)
    aside
      p [ style="margin:10px;backgroud-color:#EEE" ]
        = link_to("#{@name} - wikipedia", "http://ja.wikipedia.org/wiki/#{@name}", target: "_blank")
        br
        = link_to("#{@name} - はてなキーワード", "http://d.hatena.ne.jp/keyword/#{@name}", target: "_blank")
  </article>
  aside [ class="col_3 keyword_articles" ]
    h4
      = "「#{@keyword.name}」を含む最近の記事"
    = will_paginate(@articles, class: "paginate", previous_label: "< 前", next_label: "次 >")
    ul
      - @articles.each do |a|
        li 
          = link_to a.title, article_path(a)
          = " (#{a.publish_at.to_s(:local)})"
    = will_paginate(@articles, class: "paginate", previous_label: "< 前", next_label: "次 >")
