// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  color: #222222;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 14px;
  font-family: "HalisR-Regular",'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  background-color: #FFFFFF;
}

a {
  color: #307EA9;
  text-decoration: none;
}

body > header {
  width: 720px;
  margin: 50px auto 25px;
  font-weight: bold;
  color: #444;
}

body > header span.name {
  font-size: 28px;
}

body > header a {
  color: #444;
  text-decoration: none;
}

body > header nav {
  float: right;
}

body > header nav ul {
  list-style: none;
}

body > header nav li {
  margin-left: 10px;
  display: inline;
}

body > header:after { clear: both; }

div#contents {
  clear: both;
  margin: 20px auto 0;
}

.row {
  margin: 0 auto;
  max-width: 720px;
}

.row > * {
	-webkit-transition	: all 400ms ease-out;
	-moz-transition		: all 400ms ease-out;
	-o-transition		: all 400ms ease-out;
	-ms-transition		: all 400ms ease-out;
	transition			: all 400ms ease-out;	
}

.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }
.row { *zoom: 1; }

.col_2, .col_center, .related_articles {
	margin-left: 1.0%;
  margin-right: 0.2%;
	margin-bottom: 10px;
	display: block;
}

.related_articles {
  margin: 0 auto;
  max-width: 720px;
  padding: 10px 20px;
}

.col_2 {
  width: 46%;
  float: left;
}

.col_center {
  margin: 10px auto;
  max-width: 720px;
  padding: 10px 20px;
}

td, th, p, h1, h2, h3, h4, h5, h6, label, a {
  word-break: break-all;
  word-wrap: break-word;
  word-break: break-word;
}

img, object, embed { max-width: 100%; }
img { height: auto; }
figure img { max-width: 100%; }

@mixin roundBox {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

h2.caption {
  color: #ffffff;
}

ul.articles li {
  list-style-type: none;
  margin-bottom: 0;
  padding: 7px 5px;
}

ul.articles li a {
  text-decoration: none;
}

ul.articles li time {
  padding-top: 2px;
  float: right;
  font-size: 12px;
  color: #999;
}

ul.articles li aside {
  padding-top: 2px;
  float: right;
}

article {
  padding-left: 0.8%;
  padding-right: 0.8%;
  line-height: 1.7;
}

article header {
  border-left: 7px solid;
  color: #eee;
  margin: 40px -30px 30px -30px;
  padding: 10px 10px 10px 23px;
}

article h1 {
  font-size: 30px;
  color: #444444;
  margin: 0;
}

article h1 a {
  color: #444444;
  text-decoration: none;
}

article time {
  font-size: 80%;
  color: #888888;
}

span.operate {
  font-size: 80%;
  color: #888888;
}

span.operate a {
  vertical-align: top;
  margin-right: 5px;
}

span.accessCount {
  font-size: 80%;
  vertical-align: top;
  color: #555555;
  padding: 0 1px;
  border-left: 2px solid #00bfff;
  border-right: 2px solid #00bfff;
  background-color: #87ceeb;
  margin-right: 5px;
}

article p {
  font-size: 16px;
  margin-top: 2em;
}

article aside.socialButton {
  border-top: 1px solid #eee;
  margin-top: 75px;
  padding-top: 15px;
  text-align: right;
}

pre {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  color: black;
  background: #f7f7ff;
  overflow: auto;
  line-height: 1.4;
  margin: 1em 0.5em;
  border: solid 1px #dddddd;
}

code {
  color: black;
  background: #f7f7ff;
  border: solid 1px #dddddd;
}

@mixin pagingBox {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  @include roundBox;
}

.previous_paging_box {
  margin: 10px auto;
  max-width: 720px;
  padding: 10px 20px;
  background-color: #AFAFAF;
  @include pagingBox
}

.previous_paging_box a {
  color: #FFFFFF;
}

.next_paging_box {
  margin: 10px auto;
  max-width: 720px;
  padding: 10px 20px;
  background-color: #3F3F3F;
  text-align: right;
  @include pagingBox;
}

.next_paging_box a {
  color: #FFFFFF;
}

@media handheld, only screen and (max-width: 720px) {
  .col_2 {
    width: 96%;
  }
}

@media handheld, only screen and (max-width: 640px) {
	div#contents { width: 100% !important; max-width: 100% !important; }

  .col_2, .col_center, .related_articles {
    width: 92%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 4%;
    padding-right: 4%;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  max-width: 640px;
  max-height: 480px;
}

.article_archive a{
  margin-right: 5px;
}

.archive_year {
  margin-top: 1em;
}

.amazon_box {
  margin: 1em;
  background-color: #ffffff;
}

.amazon_image {
  margin: 0 1em;
  float: left;
}

.amazon_info {
  font-size: 85%;
  padding: 0 1em;
}

.amazon_clear {
  clear: both;
}

.keyword_articles {
  background-color: #FFFFFF;
  @include roundBox;
}

.keyword_articles li {
  list-style: none;
  margin-bottom: 1em;
}

.related_articles {
  background-color: #FFFFFF;
  margin-top: 10px;
  padding: 10px;
  @include roundBox;
}

.related_articles li {
  font-size: 90%;
  list-style: none;
  margin-bottom: 1em;
}

.field {
  background-color: #ffffff;
}

.field input {
  width: 40em;
}

.field textarea {
  width: 40em;
  height: 20em;
  margin-bottom: 1em;
}

.field .actions {
  margin: 1em 0 2em;
}

.new_photo {
  margin-top: 1em;
}

.accent {
  font-weight: bold;
}
