// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 30px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

.major-line {
  margin: -20px 0 0;
  color: #ffffff;
  background: linear-gradient(-135deg, #E4A972, #9941D8);
}

.related_articles {
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 720px;
  padding: 10px 20px;
}

ul.articles li {
  list-style-type: none;
  margin-bottom: 0;
  padding: 7px 5px;
}

ul.articles li a {
  text-decoration: none;
}

ul.articles li time {
  padding-top: 2px;
  float: right;
  font-size: 12px;
  color: #999;
}

ul.articles li aside {
  padding-top: 2px;
  float: right;
}

article {
  padding-left: 0.8%;
  padding-right: 0.8%;
  line-height: 1.7;
  margin-bottom: 40px;
}

article header {
  color: #eee;
}

article h1 {
  font-size: 30px;
  font-weight: 300;
  color: #222;
  margin: 0;
}

article h1 a {
  color: #222;

  &:hover {
    color: #465CA2;
  }
}

article h2 {
  border-left: 3px solid #eee;
  color: #444;
  margin: 50px -30px 20px -27px;
  padding: 15px 30px;
}

article h3 {
  color: #444;
  padding-bottom: 0.3em;
  font-size: 20px;
  font-weight: 300;
  border-bottom: 1px solid #eee;
}

article header {
  img {
    display: inline;
    border-radius: 3px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 0 5px;
  }

  span {
    font-size: 13px;
    margin-right: 5px;

    a {
      color: #222;

      &:hover {
        color: #465CA2;
      }
    }
  }

  time {
    font-size: 13px;
    color: #989898;
    display: inline;

    a {
      color: #989898;

      &:hover {
        color: #465CA2;
      }
    }
  }
}

span.operate {
  font-size: 80%;
  color: #888;
}

span.operate a {
  margin-left: 5px;
}

article div.article_context {
  margin-top: 18px;
}

article p {
  font-size: 15px;
  margin-bottom: 2em;
}

article img {
  display: block;
  margin: 0 auto;
}

article aside.socialButton {
  border-top: 1px solid #eee;
  margin-top: 25px;
  padding-top: 15px;
  text-align: right;
}

pre {
  font-family: Consolas,"Liberation Mono",Courier,monospace;
  color: black;
  background: #f7f7ff;
  overflow: auto;
  line-height: 1.4;
  margin: 1em 0.5em;
  border: solid 1px #dddddd;
}

code {
  color: black;
  background: #f7f7ff;
  border: solid 1px #dddddd;
}

@mixin pagingBox {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 10px auto;
  max-width: 720px;
  padding: 10px 20px;
}

.previous_paging_box {
  background-color: #AFAFAF;
  @include pagingBox
}

.next_paging_box {
  background-color: #3F3F3F;
  text-align: right;
  @include pagingBox;
}

.previous_paging_box a {
  color: #FFFFFF;
}

.next_paging_box a {
  color: #FFFFFF;
}

@media handheld, only screen and (max-width: 640px) {
  div#contents {
    width: 100% !important;
    max-width: 100% !important;
  }

  ul.articles li time {
    display: none;
  }

  ul.articles li aside {
    display: none;
  }
}

.article_archive a {
  margin-right: 5px;
}

.archive_year {
  margin-top: 1em;
}

.keyword_articles {
  background-color: #FFFFFF;
}

.keyword_articles li {
  list-style: none;
  margin-bottom: 1em;
}

.related_articles li {
  font-size: 90%;
  list-style: none;
  margin-bottom: 1em;
}

div.pocket-btn {
  display:inline
}
