<div class="col_1 google_ad_box">
<script type="text/javascript"><!--
  google_ad_client = "ca-pub-2649260317960621";
  /* article_show_square */
  google_ad_slot = "6807147918";
  google_ad_width = 336;
  google_ad_height = 280;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
