<div class="google_ad_box" id="my_ad"></div>
<div id="my_ad"></div>
<script>
window.MyAdSense.newAd(document.getElementById('my_ad'), {
  'ad_slot': "8559817519",
  'ad_width': 728,
  'ad_height': 90
});
</script>
