<div class="google_ad_box">
<script type="text/javascript"><!--
  google_ad_client = "ca-pub-2649260317960621";
  /* article_ad_square */
  google_ad_slot = "3304854312";
  google_ad_width = 300;
  google_ad_height = 250;
  //-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
